.row
  .col-md-3
    .card
      .card-header
        User List
      %ul.list-group.list-group-flush
        - @users.each do |u|
          = link_to conversations_path(user_id: u), remote: true, method: :post, class: "list-group-item" do
            %li
              = u.username
  .col-md-9
    .conversation
