<div class="row">
  <div class="col-md-3">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">User List</h3>
      </div>
      <div class="card-body">
        <ul>
          <% @users.each do |u| %>
            <li><%= link_to u.email, conversations_path(user_id: u), remote: true, method: :post %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <ul id="conversations-list">
      <% @conversations.each do |c| %>
        <%= render 'conversations/conversation', conversation: c, user: current_user %>
      <% end %>
    </ul>
  </div>
</div>
