.row
  .col-md-3
    .card
      .card-header
        User List
      .card-body
        %ul
          - @users.each do |u|
            %li= link_to u.username, conversations_path(user_id: u), remote: true, method: :post
  .col-md-9
    .conversation
