.row
  .col-md-3
    .card
      .card-header
        User List
      .card-body
        %ul
          - @users.each do |u|
            %li= link_to u.email, conversations_path(user_id: u), remote: true, method: :post
  .col-md-9
    .conversation
      - if @conversation.length != 0
        = render 'conversations/conversation', conversation: @conversation[0], user: current_user
